.tabs {
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab label:hover {
  cursor: pointer;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  font-weight: 600;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

body {
  background-color: #f4f4f4;
}

h1 {
  line-height: 1.2em;
}

form label {
  display: inline-block;
  width: 60px;
}

.centered {
  margin: 0 auto;
}

.spaced {
  padding: 10px;
}

.large {
  width: 70%;
}

.medium {
  width: 50%;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.separate {
  border-bottom: solid;
  border-bottom-width: thin;
}

.sz--little {
  font-size: 0.8em;
}

.sz--large {
  font-size: 2.8em;
}

.ch-carousel img {
  width: 100px;
  height: 100px;
}

.green {
  color: #339900;
}

.blue {
  color: #59afde;
}

.mg--bot {
  margin-bottom: 10px;
}

.mg--top {
  margin-top: 10px;
}

.tooltip:hover {
  cursor: pointer;
}
