////
// Variables.scss
// Specifies the defined variables for page style 
//

$green: #339900;
$blue: #59afde;
$gray: #f4f4f4;

$def-sep-size: 10px;

$def-lg-width: 70%;
$def-md-width: 50%;

$def-lg-font: 2.8em;
$def-sm-font: 0.8em;

$def-img-size: 100px;